<!--Footer-->
<nav class="navbar fixed-bottom navbar-light bg-dark">
<div class="container">
    <h6 class="navbar-text">© 2022 by Katrina yung</h6>
    <a href="https://www.linkedin.com/in/katrina-yung-177a311b5"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/katrinayung1"><i class="fa-brands fa-discord"></i></a>
</div>
</nav>