<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!--Css Files-->
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />

</head>
<body>
<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Find Icon Bro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--Home Page-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <!--About Me Page-->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-person"></i> About Me</a>
        </li>
        <!--Projects Page-->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/projects"><i class="fa-regular fa-folder-open"></i> Projects</a>
        </li>
        <!--Contact Me Page-->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-phone"></i> Contact Me</a>
        </li>

    </div>
  </div>
</nav>
<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to my Personal Portfolio!</h1>
  </div>
</div>
</main>

  <h1><%= title %></h1>

  <!--Script Files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>


</body>
</html>

